<ion-content fullscreen class="ion-padding" scroll-y="false">
  <div>
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="https://i.pinimg.com/originals/07/0a/99/070a9924bffc79591b164fab76193639.jpg" />
          <h2>Welcome</h2>
          <p>
            Te invitamos a ser parte de nuestra aplicación <b>LavaGlu</b> para 
            que tengas una lavandería tan cerca que no será necesario salir de tu casa.
          </p>
        </div>
      </ion-slide>
  
      <ion-slide>
        <img src="https://preview.redd.it/go9jvrguj7d61.jpg?auto=webp&s=69be3ee1b8aba3c013b942ff179a0f23d14af67c" />
        <h2>Qué nos diferencía de las otras?</h2>
        <p>
          Al ser parte de <b>LavaGlu</b> podrás solicitar de nuestros servicio,
          solo tendrás que seleccionar que tipo de servicio quieres, tendrás que llenar
          unos datos y después de eso <b>¡Nosotros iremos a tu domicilio para recoger y entregar!</b>
        </p>
      </ion-slide>
  
      <ion-slide>
        <img src="https://www.greenclean.com.mx/perch/resources/7.jpg" />
        <h2>Listo para ser parte de LavaGlu?</h2>
        <ion-button fill="clear" routerLink="/login">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
